<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aditya.appsatipadang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".di.AtiPadang"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppsATIPadang"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin.cetaklaporan.CetakLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ui.pengaduan_admin.PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".user.ui.lupa_password.ActivityLupaPassword"
            android:exported="false" />
        <activity
            android:name=".supervisor.LaporanKeseluruhanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ui.kamtibmas_admin.ActivityBerhasilAddUser"
            android:exported="false" />

        <service
            android:name=".FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".admin.ui.kamtibmas_admin.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".teknik.ui_teknisi.rekap_laporan.RekapActivityTeknisi"
            android:exported="false" />
        <activity
            android:name=".teknik.ui_teknisi.nontifikasi_laporan.ActivityNontofikasiLaporanTeknisi"
            android:exported="false"
            android:label="@string/title_activity_nontofikasi_laporan_teknisi"
            android:theme="@style/Theme.AppsATIPadang" />
        <activity
            android:name=".teknik.ui_teknisi.laporan.LaporanTeknisiActivity"
            android:exported="false" />
        <activity
            android:name=".supervisor.ActivitySupervisor"
            android:exported="false" />
        <activity
            android:name=".teknik.ActivityTeknik"
            android:exported="false" />
        <activity
            android:name=".admin.ui.kamtibmas_admin.KamtibmasActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.status_admin.StatusActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.prasarana_admin.PrasaranaActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.sarana_admin.SaranaActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".user.ui.detailstatuslaporan.DetailStatusLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".user.ui.pemberitahuan.ActivityPemberitahuan"
            android:exported="false" />
        <activity
            android:name=".user.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".user.laporan.prasarana.ActivityPrasarana"
            android:exported="false" />
        <activity
            android:name=".user.laporan.kamtibmas.ActivityKamtibmas"
            android:exported="false" />
        <activity
            android:name=".user.laporan.sarana.SaranaActivity"
            android:exported="false" />
        <activity
            android:name=".user.laporan.status.ActivityStatus"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="false" />
        <activity
            android:name=".user.ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aditya.appsatipadang"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>